@media(min-width:769px){
.wrap{
  min-height:100vh;
}
}
h1{
  text-align: center;
}
.main{
  margin:o auto;
width: 60%;
}
footer{
    background-color: darkorange;
}
footer li{
  display: inline-block;

}
